.note_container {
  height: 180px;
  width: 25%;
  background-color: #c7caed;
  margin: 10px;
  box-shadow: 5px 5px 5px #eee;
  display: inline-block;
}

.note_content {
  padding: 15px;
  height: 140px;
}

.note_actions {
  padding: 10px 15px;
  background-color: #ffffff;
  height: 40px;
  color: #a2a2a2;
}

.delete_icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url('../../assets/icons/Deselct Icon 24px.svg');
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  cursor: pointer;
}

.tick_icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url('../../assets/icons/tick-filled.svg');
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  cursor: pointer;
}